/* testing out d3 tooltip */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 8px;
}

/* Creates a small triangle extender for the tooltip */.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
.dc-chart g.row text {
    fill : #006687;
}

.dc-chart .pie-slice {
    fill:black;
}

.x-axis-label{
    font-size:0.8em;
}

#header{
    padding-bottom:20px;
    border-bottom-color: #5bc0de;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom:20px;
	color: #5bc0de;
}

.container{
    padding-bottom:20px;
    min-width:912px;
}


.viz-chart {
    width:100%;
}

#mapChart {
    height:360px;
}

.hdx-3w-info{
    padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size:1.5em;
    color:#056CB6;
 }

 .dc-table-label {
    background-color:#5bc0de;
	color: #FFFFFF;
 }

 .filter-count {
    color:#056CB6;
    font-size:1em;
    margin-right:10px;
 }

 #reset {
    background-color:#006687;
 }

 .grey  {
    color:#006687;
 }

 a {
    color:#F47932;
 }

 .dc-table-column {
    font-size:0.75em;
    color:#006687;
 }